@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Shippori+Mincho+B1:wght@500&display=swap');
html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.axis-label {
  fill: rgba(0, 0, 0, 0.8);
}
h1 {
  text-align: center;
  margin-top: 3rem;
  font-family: 'Shippori Mincho B1', serif;
}
.graph {
  margin: 2rem auto 0;
  display: block;
  width: 100%;
  max-width: 1160px;

}
select {
  padding: 0.5rem 1rem;
  border-color: grey;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.8);
}
label {
  font-size: 1.1em;
  font-weight: semi-bold;
  margin-left: 3rem;
  margin-right: 0.7rem;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* #root {
  border: 3px solid red;
} */

p{
  max-width: 50ch;
  margin: 0 auto 2rem;
  display: block;
  line-height: 1.6;
}

a{
  color: #56AFB5;
}
a:visited{
  color: #442978;
}

@media only screen and (min-width: 1000px){
  .container{
  display: grid;
  grid-template-columns: 5fr 6fr;
  height: 100vh;
  align-items: center;
}
  
}
